{%  extends 'store/base.html' %}

{% block content %}

<form method="post">
<div class="row">
    <div class="col-md-9">
    <div class="card card-body">
    <h4 class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <span class="text-bold">Order Number: {{order.ref_code}}</span>
    </h4>
    <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-bold">Order Date: {{order.ordered_date}}</span>
    </h6>
    <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-bold">Status: {{order.status}}</span>
    </h6>
    {% if order.status == "Shipped" %}
    <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-bold">Shipping ID: {{order.shipping_id}}</span>
    </h6>
    {% endif %}
    <hr>
    <div class="row">
    <div class="col-md-5">
    <h5>Shipping Address</h5>
	<p>
        Name: {{order.shipping_address.name}}<br>
	Address: {{order.shipping_address.street_address}}, {{order.shipping_address.apartment_address}}<br>
	State: {{order.shipping_address.state}}<br>
	Country: {{order.shipping_address.country}}<br>
	Pin Code: {{order.shipping_address.zip}}<br>
        </p>
    </div>
    <div class="col-md-5">
    <h5>Billing Address</h5>
        <p>
        Name: {{order.billing_address.name}}<br>
        Address: {{order.billing_address.street_address}}, {{order.shipping_address.apartment_address}}<br>
        State: {{order.billing_address.state}}<br>
        Country: {{order.billing_address.country}}<br>
        Pin Code: {{order.billing_address.zip}}<br>
        </p>
    </div>
    </div>
    <hr>
    
    <h4 class="d-flex justify-content-between align-items-center mt-3 mb-3">
    <span class="text-bold">Shipment Details</span>
    </h4>
<table class="table table-sm">
		<tr>
				<th>Product</th>
				<th>SKU</th>
				<th>HSN Code</th>
				<th>Order Quantity</th>
                                <th>Invoiced Quantity</th>
                                <th>Already Shipped</th>
                                <th>New Shipment Quantity</th>
		</tr>

		{% for order_item in order.items.all %}
				<tr>
						<td>{{order_item.item.title}}</td>
						<td>{{order_item.item.SKU}}</td>
						<td>{{order_item.item.HSN}}</td>
                                                <td>{{order_item.quantity}}</td>
                                                <td>{{order_item.invoiced_quantity}}</td>
                                                <td>{{order_item.shipped_quantity}}</td>
      						<td>
                                                {% csrf_token %}
                                                <!--{{ form.invoice_quantity }}-->
                                                <input type="number" name="shipment-quantity_{{order_item.item.id}}" id="shipment-quantity_{{order_item.item.id}}">
                                                </td>
				</tr>
		{% endfor %}


</table>
<hr>
<h4 class="d-flex justify-content-between align-items-center mt-3 mb-3">
<span class="text-bold">Carrier Details</span>
</h4>
<div class = "row">
<div class="col-md-3">
      <h6 class="d-flex justify-content-between align-items-center mt-3 mb-3">
      <span class="text-bold">Carrier Name</span>
      </h6>
      <input type="text" name="shipment_carrier" id="shipment_carrier">
</div>
<div class="col-md-3">
      <h6 class="d-flex justify-content-between align-items-center mt-3 mb-3">
      <span class="text-bold">Tracking ID</span>
      </h6>
      <input type="text" name="shipment_id" id="shipment_id">
</div>
</div>
<hr>
<button class="form-group" type="submit">Submit Shipment</button>
	</div>
    </div>
</div>
</form>

{% endblock %}
