{% extends "store/base.html" %}

{% block content %}
<div class = "login mx-auto">
        <div class= "card card-body">
                <legend class= "border-bottom mb-3">Password Reset Link Sent</legend>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
		<p>If you don’t receive an email:<br/>
		1. Please make sure you’ve entered the address you registered with us.
		2. Please check your spam/junk folder.<br/></p>
		<p><a href ="{% url 'reset_password' %}">Click here</a> to go back to the forgotten passwords page.</p>
        </div>
</div>
{% endblock content %}

