{%  extends 'singleStore/base.html' %}

{% block content %}

<form method="post">
<div class="row">
    <div class="col-md-12">
    <div class="card card-body">
    <h4 class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <span class="text-bold">Order Number: {{order.ref_code}}</span>
    </h4>
    <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-bold">Order Date: {{order.ordered_date}}</span>
    </h6>
    <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-bold">Status: {{order.status}}</span>
    </h6>
    {% if order.status == "Shipped" %}
    <h6 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-bold">Shipping ID: {{order.shipping_id}}</span>
    </h6>
    {% endif %}
    <hr>
    <div class="row">
    <div class="col-md-5">
    <h5>Shipping Address</h5>
	<p>
        Name: {{order.shipping_address.name}}<br>
	Address: {{order.shipping_address.street_address}}, {{order.shipping_address.apartment_address}}<br>
	State: {{order.shipping_address.state}}<br>
	Country: {{order.shipping_address.country}}<br>
	Pin Code: {{order.shipping_address.zip}}<br>
        </p>
    </div>
    <div class="col-md-5">
    <h5>Billing Address</h5>
        <p>
        Name: {{order.billing_address.name}}<br>
        Address: {{order.billing_address.street_address}}, {{order.shipping_address.apartment_address}}<br>
        State: {{order.billing_address.state}}<br>
        Country: {{order.billing_address.country}}<br>
        Pin Code: {{order.billing_address.zip}}<br>
        </p>
    </div>
    </div>
    <hr>
    
    <h4 class="d-flex justify-content-between align-items-center mt-3 mb-3">
    <span class="text-bold">Refund Details</span>
    </h4>
<table class="table table-sm">
		<tr>
				<th>Product</th>
				<th>SKU</th>
				<th>HSN Code</th>
                                <th>Original Price</th>
                                <th>Discounted Price</th>
				<th>Order Quantity</th>
                                <th>Shipped Quantity</th>
                                <th>Refund Quantity</th>
                                <th>Refund Reason</th>
                                <th>Subtotal</th>
                                <th>Tax</th>
                                <th>Tax Amount</th>

		</tr>

		{% for order_item in order.items.all %}
				<tr>
						<td>{{order_item.item.title}}</td>
						<td>{{order_item.item.SKU}}</td>
						<td>{{order_item.item.HSN}}</td>
                                                <td>₹{{order_item.item.price}}</td>
                                                {% if order_item.item.discount_price %}
                                                <td>₹{{order_item.item.discount_price}}</td>
                                                {% else %}
                                                <td>₹{{order_item.item.price}}</td>
                                                {% endif %}
                                                <td>{{order_item.quantity}}</td>
                                                <td>{{order_item.shipped_quantity}}</td>
      						<td>
                                                {% csrf_token %}
                                                <!--{{ form.invoice_quantity }}-->
                                                <input type="number" value= "{{order_item.shipped_quantity}}" name="refundQuantity_{{order_item.item.id}}" id="refundQuantity_{{order_item.item.id}}">
                                                </td>
                                                <td>
                                                <!--{{ form.invoice_quantity }}-->
                                                <input type="text" name="refundReason" id="refundReason">
                                                </td>
                                                <td>₹{{order_item.get_final_price}}</td>
                                                <td>{{order_item.item.Tax_Rate.rate}}%</td>
                                                <td>₹{{order_item.get_tax_amount}}</td>

				</tr>
		{% endfor %}


</table>
<hr>
<button class="form-group" type="submit">Request Refund</button>
	</div>
    </div>
</div>
</form>

{% endblock %}
