{% extends "singleStore/admin_base.html" %}
{% block content %}
<div class= "col-md-12 , mt-3">
		<h4>ALL INVOICES</h4>
			
			<table class="table-responsive table-sm">
				<tr>
                                        <th>Invoice ID</th>
                                        <th>Order ID</th>
					<th>Bill-To Name</th>
					<th>Order Date</th>
                                        <th>Invoice Date</th>
					<th>Invoice Amount</th>
					<th>View</th>
				</tr>

				{% for invoice in invoices %}
					<tr>
						<td>{{invoice.ref_code}}</td>
                                                <td>{{invoice.order.ref_code}}</td>
						<td>{{invoice.order.billing_address.name}}</td>
						<td>{{invoice.order.ordered_date}}</td>
                                                <td>{{invoice.invoice_date}}</td>
                                                <td>₹{{invoice.get_total}}</td>
                                                <td><a class="btn btn-sm btn-info" href="{% url 'singleStore:view_invoice' invoice.id %}">View</a></td>

					</tr>
				{% endfor %}

		
			</table>
</div>

{% endblock %}
